*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "space mono", serif;
}

:root {
    --green-100: #f3f9fa;
    --green-200: #c5e4e7;
    --green-300: #9ebbbd;
    --green-400: #7f9d9f;
    --green-500: #5e7a7d;
    --green-600: #547878;
    --green-700: #3d6666;
    --green-800: #00474b;
    --light-green: #26c2ae;
    --white: #ffffff;
    --green-hover: #9fe8df;
    --danger: #e17457;
}

body {
    background-color: var(--green-200);
}

header {
    display: flex;
    justify-content: center;
    padding-block: 2.8rem;

}

main {
    background-color: var(--white);
    padding: 2rem;
    border-radius: 1.5625rem 
}

.conta,
.gorjeta,
.pessoas {
    margin-bottom: 2rem;
}


.conta label,
.gorjeta label,
.pessoas label{
    color: var(--green-500);
    font-weight: 700;
}

.conta div,
.pessoas .input-box{
    margin-top: 0.4rem;
    background-color: var(--green-100);
    padding: 0.4rem 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.3125rem;

}

.conta input,
.pessoas input{
    border: none;
    text-align: right;
    width: 100%;
    background: none;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--green-800);
    outline: none;
}

.conta input::placeholder
.pessoas input::placeholder {
    color: var(--green-300);

}

.conta:has(input:focus) div,
.conta.conta:has(input:focus) div,
.pessoas.conta:has(input:focus) .input-box,
.pessoas:has(input:focus) .input-box,
.gorjeta #outra:focus 
.gorjeta #outra:hover {
    outline: 2px solid var(--light-green);
    cursor: pointer;
}



.gorjeta div {

    margin-top: 1rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.gorjeta input {
    font-size: 1.5rem;
    font-weight: 700;
    border: none;
    text-align: center;
    outline: none;
    padding-block: 0.4rem;
    border-radius: 0.3125rem;
    background-color: var(--green-800);
    color: var(--white);
}

.gorjeta .botao-ativo {
    background-color: var(--light-green);
    color: var(--green-800);
}

.gorjeta input [type="button"]:hover,
.resultados button:hover {
    background-color: var(--green-hover);
    cursor: pointer;
}

.gorjeta #outra {
    width: 100%;
    background-color: var(--green-100);
    color: var(--green-500)
    ;

}

.gorjeta #outra::placeholder {
    color: var(--green-300);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
}

:root {
    font-size: 62.5%;

    --jagged-ice: #C5E4E7;
    --white: #FFF;
    --greyish-turquoise: #5E7A7D;
    --squeze: #F3F9FA;
    --sherpa-blue: #00474B;
    --topaz: #26C2AE;
    --beetle-green: #547878;
    --regent-grey: #7F9D9F;
    --water-leaf: #9FE8DF;
}

body {
    font-size: 1.6rem;
    background: var(--jagged-ice);
}

header {
    display: flex;
    justify-content: center;

    padding-top: 5rem;
    padding-bottom: 4rem;
}

main {
    background: var(--white);
    padding: 3.2rem 2.4rem;
    border-radius: 2.5rem 2.5rem 0 0;
}

.info {
    margin-inline: .8rem;
    
    div {
        margin-bottom: 3.2rem;
    }

    strong {
        color: var(--greyish-turquoise);
    }

    .input-box {
        margin-top: .6rem;
        background: var(--squeze);
        padding: .6rem 1.8rem;
        display: flex;
        align-items: center;
        border-radius: .5rem;
    
       input {
           border: none;
           background: transparent;
           text-align: right;
           width: 100%;
           outline: none;
           font-size: 2.4rem;
           font-weight: 700;
           color: var(--sherpa-blue);
    
           &::placeholder{
            color: var(--sherpa-blue);
             opacity: 0.35;
           }
       }
    }
    
    .input-box:has(input:focus){
        outline: 2px solid var(--topaz);
    }

     .tip{
        div{
            margin-top: 1.6rem;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1.6rem;

            button {
               font-size: 2.4rem;
               color: var(--white);
               background: var(--sherpa-blue);
               border: none;
               padding-block: .6rem;
               font-weight: 700;
               border-radius: .5rem;
            }

            .button-selected {
                background: var(--topaz);
            }

            input {
               width: 100%;
               border: none;
               background: var(--squeze);
               border-radius: .5rem;
               font-size: 2.4rem;
               font-weight: 700;
               text-align: center;
               color: var(--sherpa-blue);

               &::placeholder {
                color: var(--beetle-green);
               }

               &:focus {
                outline: 2px solid var(--topaz);
               }
            }
        }
     }
}

.results {
    background: var(--sherpa-blue);
    border-radius: 1.5rem;
    padding: 4rem 2.4rem 2.4rem;

    .amount,
    .total {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2.4rem;

        p {
            color: var(--white);
            font-weight: 700;

            span {
                color: var(--regent-grey);
                font-size: 1.3rem;
            }
        }

        strong {
            font-size: 3.2rem;
            color: var(--topaz);
        }
    }

    button {
        background: var(--topaz);
        color: var(--sherpa-blue);
        font-size: 2rem;
        text-transform: uppercase;
        width: 100%;
        border: none;
        border-radius: .5rem;
        font-weight: 700;
        padding-block: .9rem;
    }
}

input::-webkit-inner-spin-button,
    input::-webkit-outer-spin-button {
        display: none;
    }

@media(min-width: 920px){
    main {
        display: flex;
        max-width: 92rem;
        margin-inline: auto;
        border-radius: 2.5rem;
        gap: 4.8rem;
        padding: 4.8rem;
    }

    section {
        width: 100%;
    }
  
    .info{
    .tip{
        div {
            grid-template-columns: repeat(3, 1fr);

            button:hover{
                background: var(--water-leaf);
                cursor: pointer;
                transition: .3s;
            }
        }
    }
  }

  .results {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5.6rem 4rem 4rem;

    .amount,
    .total {
        strong {
            font-size: 4.8rem;
        }
    }

    button:hover {
        background: var(--water-leaf);
        transition: .3s;
        cursor: pointer;
    }
  }
}